Flask
Flask-SQLAlchemy
Flask-Login
Flask-Mail
Flask-WTF
email-validator
psycopg2-binary
python-dotenv
werkzeug
requests
flask-cors==4.0.0
Flask-Compress==1.24
Flask-Migrate
Flask-Limiter
Flask-Talisman
Flask-SocketIO
flasgger
eventlet
gunicorn
